Mongoid Many to Many Issue

<%= form_for SharedCalendar.new do |f| %>
  <%= f.text_field :name, placeholder: 'Enter a name' %>
  <%= f.submit %>
<% end %>


<% if @shared_calendar %>
  <p><% User.first.shared_calendar_ids %></p>
  </p><% @shared_calendar.user_ids %></p>
<% end %>
